{# {% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    S'inscrire
                </h1>
                <form class="space-y-4 md:space-y-6" method ="post">
                    <div>
                        {{ form_row(registrationForm.email) }}
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre email</label>
                        <input type="email" name="email" id="email" class="" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre mot de passe</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="" required="">
                    </div>
                    <div>
                        <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmer le mot de passe</label>
                        <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="" required="">
                    </div>
                    
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:blue-600 dark:hover:blue-700 dark:focus:riblue-800 ">Créer son compte</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Vous possédez déjà un compte chez nous ? <a href="{{path('app_login')}}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Connectez vous ici</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %} #}


{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Inscrivez - vous !
              </h1>
              {{ form_start(registrationForm, {'attr': {'class': 'space-y-4 md:space-y-6'}}) }}
                  <div>
                      {{ form_label(registrationForm.email, 'Votre email', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                      {{ form_widget(registrationForm.email, {'attr': {
                          'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                          'placeholder': 'votre@email.com'
                      }}) }}
                      {{ form_errors(registrationForm.email) }}
                  </div>
                  {# <div>
                      {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                      {{ form_widget(registrationForm.plainPassword, {'attr': {
                          'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                          'placeholder': '••••••••'
                      }}) }}
                      {{ form_errors(registrationForm.plainPassword) }}
                  </div> #}
                  <div>
                    {{ form_label(registrationForm.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {
                        'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                        'placeholder': '••••••••'
                    }}) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
                    </div>
                  <div>
                    {{ form_label(registrationForm.plainPassword.second, 'Confirmer le Mot de passe', {'label_attr': {'class': 'block mb-2 text-sm font-medium text-gray-900 dark:text-white'}}) }}
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {
                        'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500',
                        'placeholder': '••••••••'
                    }}) }}
                    {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>
                  <div class="flex items-start">
                        <div class="flex items-center h-5">
                            {{form_label(registrationForm.agreeTerms, 'agreeTerms', {'label_attr': {'class': 'font-light text-gray-500 dark:text-gray-300'}})}}
                            {{form_widget(registrationForm.agreeTerms)}}
                            
                        </div>
                    </div>
                  <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:blue-600 dark:hover:blue-700 dark:focus:riblue-800">Créer son compte</button>
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                      Vous possedez un compte ? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Connexion ici</a>
                  </p>
              {{ form_end(registrationForm) }}
          </div>
      </div>
  </div>
</section>
{% endblock %}


