<div class="container mx-auto p-4">
    <div class="flex flex-col lg:flex-row my-4 bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden transition-transform transform hover:scale-105 hover:shadow-xl">
        <!-- Image Section -->
        <div class="md:basis-1/2">
            <img src="{{ asset('images/maisonluxe.png') }}" alt="photo du bien" class="w-full object-cover h-full">
        </div>

        <!-- Text Section -->
        <div class="md:basis-1/2 p-6 flex flex-col justify-between">
            <!-- Header with City and Property Type -->
            <h3 class="flex justify-between items-start">
                <!-- Left Section (City and Details) -->
                <div class="flex-1">
                    <div class="font-semibold text-lg text-gray-800 dark:text-white">{{ property.city.name }} {{ property.city.postalCode }}</div>
                    <div class="text-sm text-gray-600 dark:text-gray-400">
                        {{ property.surface }} m<sup>2</sup>, 
                        {{ property.nbRooms }} {{ property.nbRooms > 1 ? 'pièces' : 'pièce' }}
                    </div>
                    <div class="text-xs text-gray-500 dark:text-gray-400">Ref: {{ property.reference }}</div>
                </div>

                <!-- Right Section (Type and Price) -->
                <div class="flex-none text-right ml-4">
                    <p class="font-semibold text-lg text-gray-700 dark:text-gray-300">{{ property.propertyType.name }} T{{ property.nbRooms }} à vendre</p>
                    <p class="text-xl font-bold text-emerald-600 dark:text-emerald-400">{{ property.price | number_format(0, '.', ',') }} €</p>
                </div>
            </h3>

            <!-- Divider -->
            <div class="my-4 w-full h-px bg-emerald-500"></div>

            <!-- Description (limited to 400 chars) -->
            <div class="text-gray-700 dark:text-gray-300">{{ property.content | slice(0, 400) }}...</div>

            <!-- Action Button -->
            <div class="bg-emerald-600 mt-4 text-center rounded-lg hover:bg-emerald-700 transition-colors">
                <a href="{{ path('property_item', {'id': property.id}) }}" class="block p-2 text-white font-semibold">Voir plus</a>
            </div>
        </div>
    </div>
</div>



